---
import '@fontsource/poppins';
---

<div class="font-poppins text-center lg:mx-80">
	<h1 class="text-pgblue text-xl font-thin">Reliable efficient delivery</h1>
	<p class="text-xl font-black text-pvdblue">Powered by Technology</p>
	<p class="pt-5 text-pgblue">Our Artificial intelligence powered tools use millions of project data  points to ensure that your proyect is successful</p>
</div>
